*,html, body {
    margin: 0;
    padding: 0;
    font-family: "bebas neue", sans-serif;
    scroll-behavior: smooth;
}

:root {
    --bg-primary: #d8eb09;
    --bg-secondary:#82CD47;
    --bg-third:#54B435;
    --bg-fourth:#379237;
    --text-primary:#000000fa;
    --text-secondary:#fffcfc;
}

header {
    background-color:var(--bg-primary);
    color: var(--text-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    margin-left: 9px;
    margin-right: auto;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
}

.logo:hover {
    color:#fffcfc;
    transition:.5s ease-in-out;
    transform: rotate(3deg);
}

.icon-logo {
    width: 70px;
    height: 70px;
}

.icon-title {
    font-size: 43px;
    font-weight: 300;
    padding:50px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

ul {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-size: 24px;
    gap: 5px;
}

ul:hover {
    color:var(--text-secondary);
}

li {
   padding:10px;
}

li:hover {
    background-color:var(--bg-secondary);
    color:var(--text-secondary);
    transform:rotate(3deg);
}

.button {
    background-color:#54B435;
    cursor: pointer;
    font-size: 20px;
    margin-right: 5px;
    padding: 3px;
    border-radius: 8px;
    border: none;
}

button:hover {
    background-color: var(--text-secondary);
    color:var(--bg-third);
    transition: .5s all ease-in-out;
    transform: rotate(2deg);
}

    .container {
        color:var(--text-primary);
        font-size: 15px;
        display: flex;
        justify-content: center;
        padding: 50px 0;
        flex-wrap: wrap;
    }

    .title {
        display: flex;
        justify-content: center;
        font-weight: 200;
    }

    .description {
        font-family: sans-serif;
        font-size: 23px;
        margin-top:5px;
    }

    .img1 {
        width:80%;
        max-width:490px;
        margin-top: 9px;
        padding: 5px 30px;
    }

    .parallax {
        background-image: url(assets/images/7511a59f1f6b9307f694c7078ed3ed3b.jpg);
        background-position: center;
        background-attachment: fixed;
        background-repeat:no-repeat;
        width:100%;
        height:100vh;
        flex-wrap: wrap;
    }
    
    .content {
        background-color:#82CD47;
        width:100%;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
    }
    
    
    .button-content {
        background-color:#d8eb09;
        cursor: pointer;
        font-size: 20px;
        margin-right: 5px;
        padding: 3px;
        border-radius: 8px;
        border: none;
    }
    
    .parallax-child {
        color:var(--text-secondary);
        height:100vh;
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;
        gap:25px;
    }

    .card {
        margin-top:10px;
        gap: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .card-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space;
        align-items: center;
        flex-direction: row;
        gap: 25px;
    }

    .card-list {
        background-color: var(--bg-third);
        width: 250px;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .icons {
        width: 70px;
        height: 70px;
    }

    footer {
        background-color:var(--bg-primary);
        font-weight: 100;
        margin-top: 5px;
        display: flex;
        justify-content: center;
    }

    @media screen and (max-width: 470px) {
        .card {
           width: 100%;
        }

        .card-items {
            width:100%;
            padding: 0;
            flex-direction: column;
            gap: 0;
        }

        .card-list {
            opacity: 0.6;
            width: 100%;
        }

        .img1 {
            padding: 0;
            width: 100%;
        }

        nav {
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: var(--bg-primary);
            z-index: 9;
        }
    }

    